@import "_variables.scss";

// Styles

@mixin core-styles($text-direction-start, $text-direction-end) {
    font-size: 62.5%;
    
    body {
        font-family: Montserrat, sans-serif;
        font-size: 1.4rem;
        margin: 0;
        min-height: $viewport-width-breakpoint-small;
        min-width: $viewport-width-breakpoint-small;

        label {
            text-transform: uppercase;
        }

        input[type=text], input[type=password] {
            border: none;
            border-radius: 5px;
            font-family: inherit;
            font-size: inherit;
            outline: none;
            padding: 10px;
        }

        input[type=checkbox] {
            $checkbox-size: 20px;
            $checkbox-margin: calc(#{$checkbox-size} / 4);

            display: none;
        
            & + label:not(.prefix)::before, & + label.prefix::after {
                border: calc(#{$checkbox-size} / 10) solid #000000;
                border-radius: calc(#{$checkbox-size} / 10);
                content: "";
                cursor: pointer;
                display: inline-block;
                height: $checkbox-size;
                width: $checkbox-size;
                vertical-align: middle;
            }

            & + label:not(.prefix)::before {
                margin-#{$text-direction-end}: $checkbox-margin;
            }

            & + label:not(.prefix)::after {
                margin-#{$text-direction-start}: $checkbox-margin;
            }
        
            &:checked + label:not(.prefix)::before, &:checked + label.prefix::after {
                background-image: url("../Images/checkbox-black.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: calc(#{$checkbox-size} / 1.5);
            }

            &.white + label:not(.prefix)::before, &.white + label.prefix::after {
                border-color: #ffffff;
            }

            &.white:checked + label:not(.prefix)::before, &.white:checked + label.prefix::after {
                background-image: url("../Images/checkbox-white.svg");
            }
        }

        input[type=radio] {
            $radio-size: 20px;
            $radio-margin: calc(#{$radio-size} / 4);

            display: none;

            & + label:not(.prefix)::before, & + label.prefix::after {
                border: calc(#{$radio-size} / 10) solid #000000;
                border-radius: $radio-size;
                content: "";
                cursor: pointer;
                display: inline-block;
                height: $radio-size;
                width: $radio-size;
                vertical-align: middle;
            }

            & + label:not(.prefix)::before {
                margin-#{$text-direction-end}: $radio-margin;
            }

            & + label:not(.prefix)::after {
                margin-#{$text-direction-start}: $radio-margin;
            }

            &:checked + label:not(.prefix)::before, &:checked + label.prefix::after {
                background-image: url("../Images/radio-black.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: calc(#{$radio-size} / 2);
            }

            &.white + label:not(.prefix)::before, &.white + label.prefix::after {
                border-color: #ffffff;
            }

            &.white:checked + label:not(.prefix)::before, &.white:checked + label.prefix::after {
                background-image: url("../Images/radio-white.svg");
            }
        }

        button.black, button.red {
            border: none;
            border-radius: 2px;
            color: #ffffff;
            cursor: pointer;
            font-family: inherit;
            outline: none;
            padding: 10px;
            text-transform: uppercase;

            &.black {
                background-color: #000000;

                &:hover {
                    background-color: scale-color(#000000, $lightness: 20%);
                }
            }

            &.red {
                background-color: $reveal-red;

                &:hover {
                    background-color: scale-color($reveal-red, $lightness: 20%);
                }
            }
        }

        .message-information, .message-error {
            box-shadow: $main-element-box-shadow;
            display: flex;
            display: -ms-flexbox;

            &.message-information {
                background-color: scale-color($reveal-yellow, $lightness: 75%);
            }

            &.message-error {
                background-color: scale-color($reveal-red, $lightness: 75%);
            }

            &::before {
                background-position: center;
                background-repeat: no-repeat;
                background-size: 30px;
                content: "";
                display: inline-block;
                min-height: 50px;
                width: 50px;
            }

            &.message-information::before {
                background-color: scale-color($reveal-yellow, $lightness: 25%);
                background-image: url("../../Images/message-icon-information.svg");
                border-right: 1px solid scale-color($reveal-yellow, $lightness: -25%);
            }

            &.message-error::before {
                background-color: scale-color($reveal-red, $lightness: 50%);
                background-image: url("../../Images/message-icon-error.svg");
                border-right: 1px solid $reveal-red;
            }

            div {
                padding: 20px;
            }
        }

        @keyframes spinner {
            to {transform: rotate(360deg);}
        }
 
        .spinner {
            animation: spinner 1s ease infinite;
            border-color: scale-color(#000000, $lightness: 80%) transparent;
            border-radius: 50%;
            border-style: solid;
            border-width: 2px;
            box-sizing: border-box;
            display: inline-block;
            height: 20px;
            width: 20px;
        }

        .content-box {
            background-color: #ffffff;
            box-shadow: $main-element-box-shadow;
            margin: 1rem;
            padding: 2rem;
        }

        /*input[type=checkbox] {
            display: none;
        }

        input[type=checkbox] + label {
            background-color: scale-color(#ffffff, $lightness: -50%);
            border: $checkbox-border-width solid scale-color(#ffffff, $lightness: 0%);
            border-radius: calc(#{$checkbox-width} / 2);
            cursor: pointer;
            display: inline-block;
            height: calc(#{$checkbox-width} / 2);
            width: $checkbox-width;
            transition: all 0.5s;
            vertical-align: middle;
        }

        input[type=checkbox] + label:after {
            background-color: scale-color(#ffffff, $lightness: 0%);
            border-radius: calc(#{$checkbox-width} / 2);
            content: "";
            display: inline-block;
            height: calc((#{$checkbox-width} / 2) - (#{$checkbox-padding-width} * 2));
            #{$text-direction-start}: 0;
            margin: $checkbox-padding-width;
            position: relative;
            width: calc((#{$checkbox-width} / 2) - (#{$checkbox-padding-width} * 2));
            transition: all 0.5s;
        }

        input[type=checkbox]:checked + label {
            background-color: $reveal-red;
            border-color: #ffffff;
        }

        input[type=checkbox]:checked + label:after {
            background-color: #ffffff;
            #{$text-direction-start}: calc(#{$checkbox-width} / 2);
        }*/
    }
}