<script ng-section="secondaryHeader" type="text/ng-template">
    <select ng-show-on-scroll>
        <option value="">All</option>
        <option ng-repeat="retentionPolicy in retentionPolicies" value="retentionPolicy.RetentionPolicyID">{{retentionPolicy.RetentionPolicyName}}</option>
    </select>
    <select>
        <option value="">All</option>
        <option ng-repeat="mediaCategory in mediaCategories" value="mediaCategory.ID">{{mediaCategory.CategoryName}}</option>
    </select>
    <select>
        <option value="">All</option>
        <option ng-repeat="team in teams" value="team.ID">{{team.TeamName}}</option>
    </select>
</script>
<div ng-show="criticalError == null">
    <div ng-include="'RecordList.html'"></div>
    <div ng-show="records.length"><button ng-hide="performingSearch" ng-click="showMore()" class="red">Show more</button><span ng-show="performingSearch" class="spinner"></span><button id="back-to-top-button" ng-show="windowScrolledVertically" ng-click="backToTop()">Back to top</button></div>
    <div ng-hide="records.length" class="message-information"><div>No records were found.</div></div>
    <br />
    <div ng-hide="records.length" class="message-error"><div>No records were found.</div></div>
</div>
<div ng-hide="criticalError == null" class="message-error">
    <div>{{criticalError.message}} [<span ng-click="criticalError.showDetails = !criticalError.showDetails"><span ng-hide="criticalError.showDetails">View details</span><span ng-show="criticalError.showDetails">Hide details</span></span>]</div>
    <div ng-show="criticalError.showDetails">{{criticalError.details.status}} - {{criticalError.details.statusText}}</div>
</div>