<script dw-section="secondaryHeader" type="text/ng-template">
    <select>
        <option value="">All</option>
        <option ng-repeat="retentionPolicy in retentionPolicies" value="retentionPolicy.RetentionPolicyID">{{retentionPolicy.RetentionPolicyName}}</option>
    </select>
    <select>
        <option value="">All</option>
        <option ng-repeat="mediaCategory in mediaCategories" value="mediaCategory.ID">{{mediaCategory.CategoryName}}</option>
    </select>
    <select>
        <option value="">All</option>
        <option ng-repeat="team in teams" value="team.ID">{{team.TeamName}}</option>
    </select>
</script>
<div ng-show="criticalError == null">
    <section class="content-box">
        <dw-record-list dw-page-size="10" dw-title="Results"></dw-record-list>
    </section>
</div>
<div ng-hide="criticalError == null" class="message-error">
    <div>{{criticalError.message}} [<span ng-click="criticalError.showDetails = !criticalError.showDetails"><span ng-hide="criticalError.showDetails">View details</span><span ng-show="criticalError.showDetails">Hide details</span></span>]</div>
    <div ng-show="criticalError.showDetails">{{criticalError.details.status}} - {{criticalError.details.statusText}}</div>
</div>